<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<!-- ladataan jquery, moment(kalenteriin), datepicker(kalenteri), angular ja bootstrappi -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="bower_components/moment/min/moment.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
	
	<!-- omat ja xml -> JSON kääntäjän scriptit -->
	<script src="x2js/xml2json.js"></script>
	<script src="js/angularScripts.js"></script>
	
	<!-- vähän tyyliä sivulle ja komponenteille -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=2">
	<link rel="stylesheet" href="bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
	
</head>
<body>
	<div class="container" ng-app="Finnkinosovellus" ng-controller="ScheduleController">
		<h1>Finnkino-sovellus</h1>
		<div class="well">
		
			<!--  päävalikko baari  -->
			<div class="row">
			
				<!-- teatterin valinta -->
				<div class="col-sm-2" >
					<a class="btn dropdown-toggle btn-warning" id="dropTeatteri" data-toggle="dropdown" href="#">{{current.Name}} <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li ng-repeat="t in theatreareas" ng-click="select(t)">
							<a href="#">{{t.Name}}</a>
						</li>
					</ul>
				</div>
				
				<!-- datepicker -->
				<div class="col-sm-3">
					<div class="input-group date" id="datetimepicker">
						<input type="text" class="form-control" />
						<span class="input-group-addon">
							<span class="glyphicon glyphicon-calendar"></span>
					</div>
				</div>
				
				<!-- etsi nappi -->
				<div class="col-sm-2">
					<button type="button" id="btnSearch" class="btn btn-warning" ng-click="search()">Etsi</button>
				</div>
			</div>
		</div>
		
		<!-- lista elokuvista -->
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="Show in dataSetSchedule">
				<p><b>{{Show.Title}}</b></p>
				<p>Alkaa: {{Show.dttmShowStart | date:'HH:mm'}}</p>
				<p>Kesto: {{Show.LengthInMinutes}} minuuttia | Ikäraja: {{Show.Rating}}</p>
				<p>{{Show.TheatreAndAuditorium}} | Genre: {{Show.Genres}}</p>
			</li>
		</ul>
	</div>
</body>
</html>